############################################
# Terraform
############################################
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Variables sensibles
*.tfvars
*.tfvars.json

# Plan files
*.tfplan

############################################
# AWS / credenciales
############################################
.env
.env.*

############################################
# Node.js (Lambdas)
############################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################################
# ZIPs generados (artefactos de build)
############################################
*.zip

############################################
# OS / Editor
############################################
.DS_Store
Thumbs.db
.vscode/
.idea/

############################################
# Logs
############################################
*.log